/*
 *  Sample cbtree custom node icon CSS
 *
 *  Usage:  See README
 *
 */

.simpsonsIcons {
	background-image: url('images/simpsons.gif'); /* Node icons sprite image */
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
}

.lisa {
	background-position: -0px;
}

.bart {
	background-position: -32px;
}

.homer {
	background-position: -64px;
}
.marge {
	background-position: -96px;
}

.maggie {
	background-position: -128px;
}

.abe {
	background-position: -160px;
}

.flanders {
	background-position: -192px;
}

.rod {
	background-position: -224px;
}

.todd {
	background-position: -256px;
}

.selma {
	background-position: -288px;
}

.patty {
	background-position: -320px;
}

.jacqueline {
	background-position: -352px;
}

.mona {
	background-position: -384px;
}

